{% extends "car_charging/base.html" %} {% block title %}Charging History{% endblock %} 

{% block content %}
<h1>Charging History</h1>
<table id="chargingSessionsTable" class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Device Name</th>
      <th scope="col">Energy (kWh)</th>
      <th scope="col">Start Date Time</th>
      <th scope="col">End Date Time</th>
      <th scope="col">Session</th>
    </tr>
  </thead>
  <tbody>
    {% for session in charging_sessions %}
    <tr>
      <td>{{ session.user_full_name }}</td>
      <td>{{ session.device_name }}</td>
      <td>{{ session.energy|floatformat:1 }}</td>
      <td data-order="{{ session.start_date_time|date:"Y-m-d H:i:s" }}">{{ session.start_date_time|date:"d-m-y H:i" }}</td>
      <td data-order="{{ session.end_date_time|date:"Y-m-d H:i:s" }}">{{ session.end_date_time|date:"d-m-y H:i" }}</td>
      <td>
        <a href="{% url 'charging:energy_details' %}?session_id={{ session.id }}">
          {{ session.id }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
