{% extends 'car_charging/base.html' %}

{% block title %}Charge History{% endblock %}

{% block content %}
    <h1 class="mb-4">Charge History</h1>
    <form method="post" class="mb-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if new_sessions %}
        <div class="alert alert-success" role="alert">
            {{ new_sessions_count }} new charging sessions added during the selected period.
        </div>
    {% endif %}
    {% if request.session.no_new_sessions %}
        <div class="alert alert-info" role="alert">
            No new sessions added.
        </div>
    {% endif %}
{% endblock %}
