{% extends 'car_charging/base.html' %}

{% block title %}Charge History{% endblock %}

{% block content %}
    <h1>Charge History</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if new_sessions %}
        <p>New charging sessions created.</p>
        <div class="sessions-container mt-5">
            <h2 class="text-center">{{ new_sessions_count }} new charging sessions added during the selected period:</h2>
            <table class="table table-dark table-striped mt-3">
                <thead>
                    <tr>
                        <th>Session ID</th>
                        <th>User</th>
                        <th>Energy [kWh]</th>
                        <th>Start time</th>
                        <th>End time</th>
                    </tr>
                </thead>
                <tbody>
                {% for session in new_sessions %}
                    <tr>
                        <td>{{ session.id }}</td>
                        <td>{{ session.user_full_name }}</td>
                        <td>{{ session.energy }}</td>
                        <td>{{ session.start_date_time }}</td>
                        <td>{{ session.end_date_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No new sessions.</p>
    {% endif %}
{% endblock %}